extends ../template/template.pug
include ../components/topnav.pug

block body
    +topnav()
    form(method='post' enctype='multipart/form-data')
        input(type='text' name='name' placeholder='Name:' required)
        input(type='number' name='age' placeholder='Age:' value=1 required)
        input(type='file' name='photo' max=5 required)
        textarea(name='desc' placeholder='A short description:' required)
        select(name='category' required)
            option(value='adoption') For Adoption 
            option(value='missing') Missing
            option(value='found') Found
        input(type='text' name='contact' placeholder='Contact Info:' required)
        input(type='submit')

block head
    link(rel='stylesheet' type="text/css" href='/styles/addstray.css')
    link(rel='stylesheet' type="text/css" href='/styles/topnav.css')