extends ../template/template.pug
include ../components/topnav.pug

block body
    +topnav()
    a(href='/strays').button Strays List
    img(src='/images/poster.png').poster
    p.desc Με την πάροδο του χρόνου, έχει παρατηρηθεί τεράστια αύξηση στα ποσοστά των αδέσποτων ζώων στη χώρα μας, γεγονός που δυσκολεύει τη διαχείριση τους. Πιο συγκεκριμένα, στους ελληνικούς δρόμους κυκλοφορούν πάνω από τρία εκατομμύρια αδέσποτα και ημιαδέσποτα. Με τον όρο «ημιαδέσποτο» ορίζουμε το ζώο που ενώ έχει ιδιοκτήτη, εκείνος αδυνατεί να ικανοποιήσει όλες τις ανάγκες του κατοικίδιου του, πχ. εξόπλιση με ειδικό τσιπάκι, περίφραξη σε ένα ασφαλές περιβάλλον,  παροχή τροφής, στείρωση-εμβολιασμός, σήμανση, αποπαρασίτωση κ.α. Επίσης,  η χώρα μας κατέχει ένα πολύ αρνητικό ρεκόρ στην κακοποίηση ζώων αφού στους πρώτους μόνο μήνες του 2019 υπήρξαν περίπου 1.800 καταγγελίες εκ των οποίων μόνο ο ένας στους δεκαπέντε παραβάτες συνελήφθη.   Τα προαναφερθέντα προβλήματα διογκώνονται διότι οι τοπικές αρχές (αστυνομία, λιμενικό, δασαρχείο) αδυνατούν να επιβάλλουν τους νόμους (πχ. νόμος περί σήμανσης δεσποζόμενων ζώων) λόγω έλλειψης κυρώσεων και εξονυχιστικών ελέγχων. Εμείς οι συμμετέχοντες διακρίναμε, επιπλέον, την έλλειψη ενημέρωσης αναφορικά με τα δικαιώματα και τις ανάγκες των ζώων από ποικίλους φορείς όπως για παράδειγμα το σχολείο και διαπιστώσαμε την αδυναμία συνεργασίας μεταξύ δήμου και πολιτών. Τέλος, άλλη μία αρνητική συνέπεια όλων των παραπάνω είναι οι βρόμικες και ανθυγιεινές γειτονιές,  η καταστροφή περιουσιών, η μεταφορά μικροβίων αλλά και εμφάνιση βίαιων συμπεριφορών κατά των ανθρώπων.
    div(data-repo='gmqwerty/straypawfinder' data-theme="dark-theme").repo-card
block head
    link(rel='stylesheet' type="text/css" href='/styles/home.css')
    link(rel="stylesheet" href="/styles/topnav.css")
    script(src='https://tarptaeya.github.io/repo-card/repo-card.js')