mixin slideshow(photos)
    section.wrapper
        .slideshow
            .slides
                for photo, i in photos
                        img(src=photo)
            if photos.length > 1
                .arrows
                    a.prev(onclick='changeSlide(-1)') &#x276E;
                    a.next(onclick='changeSlide(1)') &#x276F;

    script.
        const slides = document.getElementsByTagName('img');
        let i = 0;
        const slidesArray = Array.prototype.slice.call(slides);
        changeSlide(0)
        function changeSlide(index) {
            i += index
            if (i >= slidesArray.length) i = 0
            if (i < 0) i = slidesArray.length -1
            slidesArray.forEach((img) => {
                img.style.display = 'none';
            })
            slides[i].style.display = 'block';
        }

