* {box-sizing:border-box}

section.wrapper {
  width: 100%;
  align-items: center;
	justify-content: center;
}
.slideshow {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	position: relative;
}

.slides {
	height: auto;
	overflow: hidden;
	width: auto;
}

img {
	height: auto;
	width: 100%;
	transition: all 1s;
}

.arrows {
	display: flex;
	justify-content: space-between;
	height: 50px;
	position: absolute;
	width: 700px;
}

.arrows a {
	color: #1C1D21;
	cursor: pointer;
	height: 50px;
  font-size: 50px;
}

.arrows a:first-of-type {
  padding-right: 20px;
}

.arrows a:last-of-type {
  padding-left: 20px;
}